# App
APP_PORT=
APP_MODE=
APP_URL=

# Database
POSTGRES_DATABASE=

# Password hash
PASSWORD_SALT_ROUNDS=10

# JWT secret
JWT_SECRET=your-super-secret-jwt-key-that-should-be-long-and-random

# Cache
REDIS_URL=redis://default@127.0.0.1:6379

# Mailtrap
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=
MAILTRAP_PASS=

# Google Gemini
GEMINI_API_KEY=

# Mailgun
MAILGUN_API_KEY=
MAILGUN_DOMAIN=

# Web App URL
WEB_APP_URL=
