# App
APP_PORT=
APP_MODE=
APP_URL=

# Database
POSTGRES_DATABASE=

# Password hash
PASSWORD_SALT_ROUNDS=

# JWT secret
JWT_SECRET=

# Cache
REDIS_URL=

# Mailtrap
MAILTRAP_HOST=
MAILTRAP_PORT=
MAILTRAP_USER=
MAILTRAP_PASS=

# Google Gemini
GEMINI_API_KEY=
